/* reset */
* {
    box-sizing: content-box;
    color: inherit;
    font: inherit;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}

/* content editable */
*[contenteditable] {
    border-radius: 0.25em;
    min-width: 1em;
    outline: 0;
    cursor: pointer;
}

*[contenteditable]:hover,
*[contenteditable]:focus,
td:hover *[contenteditable],
td:focus *[contenteditable],
img.hover {
    background: #DEF;
    box-shadow: 0 0 1em 0.5em #DEF;
}

span[contenteditable] {
    display: inline-block;
}

/* heading */
h1 {
    font: bold 100% sans-serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em; /* Añadido para espacio después del título */
}
h2 {
    font: bold 80% sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em; /* Añadido para espacio después del título */
}
h3 {
    font: bold 80% sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em; /* Añadido para espacio después del título */
}
/* table */
table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* Añadido para evitar problemas de bordes en algunas situaciones */
}

th,  {
    border: 1px solid #000; /* Añadido un borde sólido para todas las celdas */
    padding: 0.5em;
    color: #FFF;
    font-weight: bold;
    position: relative;
    text-align: left;
}
td {
    border: 1px solid #000; /* Añadido un borde sólido para todas las celdas */
    padding: 0.5em;
    position: relative;
    text-align: left;
    
}

th {
    background: #EEE;
}

/* page */
html {
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0.5in;
    background: #999;
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5in;
    background: #FFF;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

/* header */
header {
    margin: 0 0 3em;
    overflow: hidden; /* Añadido para manejar el colapso del margen superior */
}

header h1 {
    background: #27649d;
    border-radius: 0.25em;
    color: #FFF;
    margin: 0;
    padding: 0.5em 0;
}
header h2 {
    background: #27649d;
    border-radius: 0.50em;
    color: #FFF;
    margin: 0;
    padding: 0.5em 0;
}
header h3 {
    background: #27649d;
    border-radius: 0.50em;
    color: #FFF;
    margin: 0;
    padding: 0.5em 0;
}
header address {
    float: left;
    font-size: 70%;
    font-style: bold;
    line-height: 1.25;
    margin: 0 1em 1em 0;
}
header address1 {
    float: left;
    font-size: 100%;
    font-style: bold;
    line-height: 1.25;
    margin: 0 1em 1em 0;
}

header span,
header img {
    display: block;
    float: none;
    margin: 0 0 1em 1em;
    max-height: 25%;
    max-width: 60%;
    position: relative;
}

header img {
    max-height: 100%;
    max-width: 100%;
}

header input {
    cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* article */
article,
article address,
table.meta,
table.inventory {
    margin: 0 0 3em;
    clear: both;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

article address {
    float: none;
    font-size: 100%;
    font-weight: normal;
}

/* table meta & balance formato ancho de la columna*/
table.meta {
    float: left;
    width: 36%;
}    
table.balance {
    float: left;
    width: 36%;    
}

table.meta:after,
table.balance:after {
    content: "";
    display: table;
    clear: both;
}

/* table meta formato de TEXTO mas el ancho de columna*/
table.meta th {
    width: 40%;
    color: #FFF;
    font-weight: bold;
}
/* table meta formato de TEXTO mas el ancho de columna*/
table.balance th {
    width: 40%;
    color: #FFF;
    font-weight: bold;
}

table.meta td {
    width: 60%;
}
table.balance td {
    width: 60%;
}

/* table items formato titulo de texto inventario */
table.inventory th {
    color: #FFF;
    font-weight: bold;
    text-align: center;
    
}

table.inventory td {
    text-align: left;
}

table { font-size: 60%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #27649d; border-color: #BBB; }
td { border-color: #BBB; }
/* aside */
aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
    border-color: #999;
    border-bottom-style: solid;
}

/* javascript */
.add,
.cut {
    display: block;
    float: left;
    width: 0.6em;
    font-size: .8rem;
    padding: 0.25em 0.5em;
    background: #9AF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
    background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
    border-radius: 0.5em;
    border-color: #0076A3;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
    margin: -2.5em 0 0;
}

.add:hover {
    background: #00ADEE;
}

.cut {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -1.5em;
}

tr:hover .cut {
    opacity: 1;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    html {
        background: none;
        padding: 0;
    }
    body {
        box-shadow: none;
        margin: 0;
    }
    span:empty {
        display: none;
    }
    .add,
    .cut {
        display: none;
    }
}

@page {
    margin: 0;
}

/* Agrega un estilo personalizado para la línea debajo de la dirección y el número */
.custom-line {
    border: none;
    border-bottom: 1px solid #000;
    margin: 5px 0;
}

/* Estilo para el texto más pequeño */
.small-text {
    font-size: 100%;
}


/* Estilos para el pie de página */
footer {
    position: fixed;
    z-index: 1000; /* Asegura que el pie de página esté por encima del contenido */
    width: calc(100% - 2cm); /* Autoajuste al ancho de la hoja con márgenes */
    bottom: 1cm; /* Margen inferior de 1cm */
    left: 1cm; /* Margen izquierdo de 1cm */
    right: 1cm; /* Margen derecho de 1cm */
    margin-top: 30px; /* Ajusta el valor según sea necesario para separar el pie de página del contenido */
    text-align: center; /* Alinea el texto al centro en el pie de página */
    font-size: 50%;
}

